# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#absolute
/abc/
# relative
abc
./abc
../
@/
#user directory
~/

# all equivalent
/Weather-App/a
a
./a

a/b/../c

# regular expression
# '*' Selects all png files in the root of the project
a/*.png 

a/b*

Vanilla/.env
